html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#__next {
  height: 100%;
}

.hidden {
  display: none !important;
}

/* Add the following styles */
.message-item {
  /* Add your desired font here */
  font-family: 'Roboto', sans-serif;
}

.message-item .meta .message {
  /* Adjust the margin and padding to reduce the space of the rendered blocks */
  margin: 5px 0;
  padding: 5px;
}

.copy-btn {
  /* Add any styles you want for the copy button */
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8em;
}